@model QL_SinhVien.Models.QuanLySV

@{
    ViewData["Title"] = "Create";
}

<h1>Thêm Sinh Viên</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="MaSV" class="control-label">Mã Sinh Viên</label>
                <input asp-for="MaSV" class="form-control" />
                <span asp-validation-for="MaSV" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TenSV" class="control-label">Họ và tên</label>
                <input asp-for="TenSV" class="form-control" />
                <span asp-validation-for="TenSV" class="text-danger"></span>
            <div class="form-group">
                <label asp-for="NgaySinh" class="control-label">Ngày Sinh</label>
                <input asp-for="NgaySinh" class="form-control" />
                <span asp-validation-for="NgaySinh" class="text-danger"></span>
            <div class="form-group">
                <label asp-for="SDT" class="control-label">SDT</label>
                <input asp-for="SDT" class="form-control" />
                <span asp-validation-for="SDT" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TenLop" class="control-label">Tên Lớp</label>
                <select asp-for="TenLop" class ="form-control" asp-items="ViewBag.TenLop"></select>
            </div>
            <div class="form-group">
                <label asp-for="TenKhoa" class="control-label">Tên Khoa</label>
                <select asp-for="TenKhoa" class ="form-control" asp-items="ViewBag.TenKhoa"></select>
            </div>
            <br>
            <div class="form-group">
                <input type="submit" value="Thêm" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Quay Lại</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
