@model QL_SinhVien.Models.QuanLyMonHoc

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Môn học</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="MaMon" />
            <div class="form-group">
                <label asp-for="MaMon" class="control-label"></label>
                <input asp-for="MaMon" class="form-control" />
                <span asp-validation-for="MaMon" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TenMon" class="control-label"></label>
                <input asp-for="TenMon" class="form-control" />
                <span asp-validation-for="TenMon" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Quay Lại</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}